/* Write your custom CSS here */
.modal-header {
    padding: 0;
}

.modal-header .close {
    margin: 10px 10px 0 0;
    font-size: 36px;
}

.btn-rounded {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
}

h1 {
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    .page-footer {
        width: calc(100% - 160px);
    }
}